=bg($x)
    background-color: #dec6a1
    background-image: url($x)
    background-size: cover
    background-attachment: fixed

// 全局背景
body
    +bg('https://synthetic.librian.it/紙背景花紋.jpg')
    text-shadow: 0px 0px 3px #FFF

a, a:visited 
    transition: color 0.2s, border 0.2s, background 0.2s, box-shadow 0.1s, transform 0.1s


.drow:first-child
    position: absolute !important
    border-width: 0px !important
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5) !important
    
    +bg('https://synthetic.librian.it/紙背景花紋模糊.jpg')
    border-radius: 0px 0px 4px 4px
    .topmenuo
        background: transparent
    .topmenuo3 
        border-width: 0px
        a
            color: #000

// 版塊標題
.indexlbtit2, .rightlbtit
    a
        background: rgba(255, 255, 255, 0.5)
        border-radius: 0px
        margin: 0px
        padding: 5px 5px 3px 5px
        height: auto
        line-height: normal
    &:nth-child(2) a
        border-radius: 8px 8px 0px 0px
    &:last-child a
        border-radius: 0px 0px 8px 8px
    &:hover a    
        background: rgba(255, 255, 255, 0.3)
        transform: scale(1.02)
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3)

.indexlbtit2tit, .rightlbtit_tit 
    +bg('https://synthetic.librian.it/紙背景花紋模糊.jpg')
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5)
    transition: transform 0.3s

.rightbox1
    background: rgba(0, 0, 0, 0.2)


ul:hover 
    .indexlbtit2tit, .rightlbtit_tit
        transform: scale(1.03)

// 大區背景
.thread1 
    background: rgba(255, 255, 255, 0.3)


// ————————————————————————
// 帖子內頭像框
// .readidms 
.readidms 
    height: auto
    width: 140px
    left: 70px
    border-radius: 5px
    overflow: hidden
    .readidmstop
        line-height: 0px
        width: 100%
        padding: 0px
    .readidmsbottom
        width: 100%
        .readidmsbottom_s
            width: 60%
        .readidmsbottom_j
            width: 40%
        .readidmsbottom_n
            width: 100%


// ————————————————————————
// 讀帖子
.readtext 
    background-color: rgba(255, 255, 255, 0.25)
    transition: background-color 0.6s
    &:hover 
        background-color: rgba(255, 255, 255, 0.45)
        transition: background-color 0.6s
    a.readcza
        background-color: rgba(255, 255, 255, 0.3)
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.55)
        border-radius: 3px
