@charset "UTF-8";
body {
  background-color: #dec6a1;
  background-image: url("https://synthetic.librian.net/紙背景花紋.webp");
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 0px 0px 3px #FFF; }

a, a:visited {
  transition: color 0.2s, border 0.2s, background 0.2s, box-shadow 0.1s, transform 0.1s; }

.drow:nth-child(2) {
  position: static !important;
  border-width: 0px !important;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5) !important;
  background-color: #dec6a1;
  background-image: url("https://synthetic.librian.net/紙背景花紋模糊.webp");
  background-size: cover;
  background-attachment: fixed;
  border-radius: 0px 0px 4px 4px; }
  .drow:nth-child(2) .topmenuo {
    background: transparent; }
  .drow:nth-child(2) .topmenuo3 {
    border-width: 0px; }
    .drow:nth-child(2) .topmenuo3 a {
      color: #000; }

.indexlbtit2 a, .rightlbtit a {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px;
  margin: 0px;
  padding: 5px 5px 3px 5px;
  height: auto;
  line-height: normal; }
.indexlbtit2:nth-child(2) a, .rightlbtit:nth-child(2) a {
  border-radius: 8px 8px 0px 0px; }
.indexlbtit2:last-child a, .rightlbtit:last-child a {
  border-radius: 0px 0px 8px 8px; }
.indexlbtit2:hover a, .rightlbtit:hover a {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.02);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); }

.indexlbtit2tit, .rightlbtit_tit {
  background-color: #dec6a1;
  background-image: url("https://synthetic.librian.net/紙背景花紋模糊.webp");
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s; }

.rightbox1 {
  background: rgba(0, 0, 0, 0.2); }

ul:hover .indexlbtit2tit, ul:hover .rightlbtit_tit {
  transform: scale(1.03); }

.thread1 {
  background: rgba(255, 255, 255, 0.3); }

.readidms .readidmstop {
  line-height: 0px;
  width: 100%;
  padding: 0px; }
  .readidms .readidmstop > img {
    border-radius: 8px; }
.readidms .readidmsbottom {
  width: 100%; }
  .readidms .readidmsbottom .readidmsbottom_s {
    width: 60%; }
  .readidms .readidmsbottom .readidmsbottom_j {
    width: 40%; }
  .readidms .readidmsbottom .readidmsbottom_n {
    width: 100%; }

.readtext {
  background-color: rgba(255, 255, 255, 0.25);
  transition: background-color 0.6s;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3) !important; }
  .readtext:hover {
    background-color: rgba(255, 255, 255, 0.45);
    transition: background-color 0.6s; }
  .readtext a.readcza {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.55);
    border-radius: 3px; }
  .readtext > table > tbody > tr > td:nth-child(2) > div:nth-child(1) {
    box-shadow: none !important;
    border-radius: 0 !important;
    border-left: 1px solid rgba(0, 0, 0, 0.2); }
    .readtext > table > tbody > tr > td:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
      border-bottom: none !important; }
    .readtext > table > tbody > tr > td:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
      padding-bottom: 3px !important; }

/*# sourceMappingURL=manta_style.css.map */
